<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eventstore.bookdatabase.diaryapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiaryApp"
        tools:targetApi="32">
        <activity
            android:name=".SavedNotesActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".themechanging.ThemeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".calendarDecorators.CalendarSplashActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SAvedSuccesfullThreeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrivacyPolicyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".expense.MainExpenseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".travelplan.SaveSuccessfullyTwoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".travelplan.TravelingDataOverallActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".travelplan.TravelDiary"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".event.EventReminderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NextExpenseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DialyExpenseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TdfolderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShopActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TodoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NotesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NotesetActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SavedSuccessfullyOne"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DiarysetActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DiaryNotesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CheckingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetupCompleteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivityOne"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ThirdLoadingPageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SecondLoadingPageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FirstLoadingPageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>